---
// src/components/SocialBox.astro
const { item } = Astro.props;
const slug = item.platform.toLowerCase().replace(/ /g, '-').replace(/[()]/g, '');
---

<div class="d-grid">
    <a href={item.url} class={`social-box -${slug}`} target="_blank" title={item.platform}>
        <svg class="icon social-icon" width="32" height="32">
            <use href={`#${item.iconId}`}></use>
        </svg>
        <div>
            <div class="fw-bold social-margin h6">
                {item.platform}
                <svg class="icon arrow-svg ms-1" width="24" height="24" style="height:1em;width:1em">
                    <use href="#icon-arrow-right"></use>
                </svg>
            </div>
            <div class="fw-bold social-margin h4">{item.username}</div>
        </div>
    </a>
</div>